<header>
  <nav style="border:1px solid black">
    <button routerLink="/home" routerLinkActive="active">Home</button>
    <br>
    <div *ngIf="!(isLoggedIn$ | async); else logOut">
      <button routerLink="/auth/login" routerLinkActive="active">Log In</button>
      <br>
      <button routerLink="/auth/register" routerLinkActive="active">Sign Up</button>
      <br>
    </div>
    <ng-template #logOut>
      <button (click)="onLogOut()">Log Out</button> <br>
    </ng-template>

    <button routerLink="/books" routerLinkActive="active">Search</button> <br>
    <button routerLink="/reviews" routerLinkActive="active">Reviews</button> <br>
    <button *ngIf="(isLoggedIn$ | async)" routerLink="/users/profile" routerLinkActive="active">My Profile</button>
  </nav>
</header>
