<header>
  <nav>
    <div>
      <button class="btn" routerLink="/home" routerLinkActive="active">Home</button>
      <button class="btn" routerLink="/books" routerLinkActive="active">Search</button>
      <button class="btn" routerLink="/reviews" routerLinkActive="active">Reviews</button>
    </div>

    <div>
      <div *ngIf="!(isLoggedIn$ | async); else logOut">
        <button class="btn" routerLink="/auth/login" routerLinkActive="active">Log In</button>
        <button class="btn" routerLink="/auth/register" routerLinkActive="active">Sign Up</button>
      </div>
      <ng-template #logOut>
        <button class="btn" (click)="onLogOut()">Log Out</button>
        <button class="btn" routerLink="/users/profile" routerLinkActive="active">My Profile</button>
      </ng-template>
    </div>
  </nav>
</header>
