<div class="formDiv">
  <form  [formGroup]="form">
    <div>
      <label>Email</label>
      <input type="text" formControlName="email">
      <div class="error-message" *ngIf="email.invalid && (email.touched || email.dirty)">invalid email</div>
    </div>

    <div>
      <label>Nickname</label>
      <input type="text" formControlName="nickname">
      <div class="error-message" *ngIf="nickname.invalid && (nickname.touched || nickname.dirty)">invalid nickname, length must be between 3-20</div>
    </div>

    <ng-container formGroupName="password">
      <div>
        <label>Password</label>
        <input type="password" formControlName="pass1">
        <div class="error-message" *ngIf="pass1.invalid && (pass1.touched || pass1.dirty)">invalid password! At least 8 characters needed</div>
      </div>

      <div>
        <label>Confirm Password</label>
        <input type="password" formControlName="pass2">
        <div class="error-message" *ngIf="pass2.invalid && (pass2.touched || pass2.dirty)">
          <div class="error-message" *ngIf="pass2.hasError('passwordMismatch')">passwords do not match</div>
        </div>
      </div>
    </ng-container>

    <button (click)="onRegister()" [disabled]="form.invalid">Register</button>
  </form>
</div>
