.review {
  .name {
    font-size: 25px;
  }
  .value {
    font-size: 18px;
  }

}

.btn {
  display: inline-block;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  background-color:#cdd3d6;
  &:hover {
    background-color:#8c8f9e;
  }
  &:disabled {
    background-color:#505654;
  }
}

