<p *ngIf="title"><b>Title:</b> {{title}}</p>

<div *ngIf="authorsData$ | async as authorsData">
  <b>Authors:</b>
  <div *ngFor="let a of authorsData">
    <p><b>Name</b>: {{a.name}}</p>
    <p *ngIf="a.birth_date"><b>Birth Date:</b> {{a.birth_date}}</p>
    <p *ngIf="a.death_date"><b>Death Date:</b> {{a.death_date}}</p>
    <p *ngIf="a.bio"><b>Bio:</b> {{a.bio}}</p>
  </div>
</div>

<p *ngIf="pagination"><b>Pagination:</b> {{pagination}}</p>
<p *ngIf="pageCount"><b>Pages:</b> {{pageCount}}</p>
<p *ngIf="publishDate"><b>Publish Date:</b> {{publishDate}}</p>
<div *ngIf="publishers">
  <b>Publishers:</b>
  <p *ngFor="let pub of publishers">{{pub}} </p>
</div>

<div *ngIf="subjects">
  <b>Subjects:</b>
  <p *ngFor="let sub of subjects">{{sub}} </p>
</div>
