<div *ngIf="authorsData$ | async as authorsData">
  Authors:
  <div *ngFor="let a of authorsData">
    <p>Name: {{a.name}}</p>
    <p *ngIf="a.birth_date">Birth Date: {{a.birth_date}}</p>
    <p *ngIf="a.death_date">Death Date: {{a.death_date}}</p>
    <p *ngIf="a.bio">Bio: {{a.bio}}</p>
  </div>
</div>

<p *ngIf="pagination">Pagination: {{pagination}}</p>
<p *ngIf="pageCount">Pages: {{pageCount}}</p>
<p *ngIf="publishDate">Publish Date: {{publishDate}}</p>
<div *ngIf="publishers">
  Publishers:
  <p *ngFor="let pub of publishers">{{pub}} </p>
</div>

