<h1>Search for Books:</h1>
<div class="searchBar" [formGroup]="form">
  <select class="btn" formControlName="searchBy">
    <option *ngFor="let o of options"> {{o}} </option>
  </select>
  <input type="text" placeholder="search..." formControlName="searchBar">
  <button class="btn" (click)="onSearch()" [disabled]="form.invalid"> Search </button>
</div>

<div *ngIf="specificBook$ | async as book">
  <div *ngIf="book.key!==''; else isbnError">
    <div>
      <img *ngIf="book.covers && book.covers[0]!==-1; else noPic" [src]="'https://covers.openlibrary.org/b/id/' + book.covers[0] + '-M.jpg'">
      <ng-template #noPic> <img src="../../../../../assets/noCover.jpg" width="150px" height="200px"></ng-template>
      <app-book-details
        [title]="book.title"
        [pageCount]="book.number_of_pages"
        [pagination]="book.pagination"
        [publishers]="book.publishers"
        [subjects]="book.subjects"
        [authors]="book.authors">
      </app-book-details>
    </div>
    <button class="btn" [routerLink]="['./editions',book.works[0].key.toString()]">Other Editions</button>
    <button class="btn" *ngIf="(isLoggedIn$ | async)" (click)="onMarkBook(book.key)">Mark for me</button>
  </div>
  <ng-template #isbnError> Could Not Find Anything :(</ng-template>
</div>
<div *ngIf="works$">
  <app-pagination class="pag"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChange($event)">
  </app-pagination>
  <app-works-list [foundWorks$]="slicedWorks$" [waitingForSearch]="waiting"></app-works-list>
  <app-pagination class="pag"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
      (pageChanged)="onPageChange($event)">
  </app-pagination>
</div>
