<h1>User Profile</h1>

<h2>User Info</h2>
<div *ngIf="loggedInUser$ | async as user">
  <div *ngIf="user">
    NickName: {{user.nickname}}
    Email: {{user.email}}
    Password: {{user.password}}
    LibId: {{user.id}}
  </div>
</div>

<h2>My Books:</h2>
<div *ngIf="markedBooks$ | async as books">
  <div *ngFor="let b of books" style="border:1px solid black;">
    <p> Title:{{b.title}} </p>
    <img *ngIf="b.covers && b.covers[0]!==-1; else noPic" [src]="'https://covers.openlibrary.org/b/id/' + b.covers[0] + '-M.jpg'">
    <ng-template #noPic> <img src="../../../../../assets/noCover.jpg" width="150px" height="200px"> </ng-template>
  </div>
</div>
